
nav ul {
    text-transform: uppercase;
}

.navbar {
    background-color: #60B5CB;
}

.navbar-nav a{
    color: #fff;
}

header {
    height: 120px;
}

header .row {
    max-height: 100%;
}

header .logo {
    height: 120px;
}

header .logo img {
    max-height: 100%;
}

.banner {
    background-image: url("../images/image5.jpg");
    background-size: cover;
    color: #fff;   
}

footer {
    background-color: #60B5CB;
    color: #fff;
    font-size: 1.2rem;
}

@media(max-width: 500px){
    .banner {
        display: none;
    }
}